html,
body,
#root {
  height: 100%;
}

#root {
  justify-content: center;
  display: flex;
  align-items: center;
  background: #93ccea;
  font-family: "Roboto", sans-serif;
  overflow: auto;

  .container {
    .city {
      justify-content: center;
      display: flex;
      padding-bottom: 40px;
      font-size: 60px;
    }

    .row {
      // padding-bottom: 50px;

      .card {
        .card-body {
          .card-text {
            color: grey;
          }
        }
      }
    }

    .input-group {
      // padding-right: 0;
      // padding-left: 0;
      height: 45px;

      button {
        width: 45px;
      }
    }

    // .alert {
    //   margin-top: 10px;
    //   margin-bottom: 0;
    // }
  }
}
