#root {
  background: #6495ed;

  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;

    .city {
      justify-content: center;
      display: flex;
      font-size: 60px;
      color: #404040;
    }

    .row {
      .card {
        .card-body {
          .card-text {
            color: grey;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .wi {
              font-size: 35px;
            }
          }
        }
      }
    }

    .input-group {
      .material-icons {
        display: flex;
      }

      .scale {
        width: 50px;
        font-size: 24px;
      }
    }
  }
}
