html,
body,
#root {
  height: 100%;
}

#root {
  justify-content: center;
  display: flex;
  align-items: center;
  background: #6495ed;
  font-family: "Roboto", sans-serif;
  overflow: auto;

  .container {
    .city {
      justify-content: center;
      display: flex;
      font-size: 60px;
      color: #404040;
    }

    .row {
      .card {
        .card-body {
          .card-text {
            color: grey;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .wi {
              font-size: 35px;
            }
          }
        }
      }
    }

    .input-group {
      .material-icons {
        display: flex;
      }

      .scale {
        width: 50px;
        font-size: 24px;
      }
    }
  }
}
